.contact {
  grid-area: contact;

  padding: 2rem 0;
  background: var(--gd-contact);

  color: var(--color-light-100);
}

@media (min-width: 480px) {
  .contact {
    border-radius: var(--radius-xl);
  }
}

@media (min-width: 1024px) {
  .contact {
    padding: 3rem 0;
  }
}

.contact__container {
  display: flex;
  flex-direction: column;

  gap: 1.2rem;

  padding: 0 1rem;

  text-align: center;
}

@media (min-width: 768px) {
  .contact__container {
    padding: 0 2rem;
  }
}

.contact__title {
  margin: 0 auto;

  font-size: clamp(1.5rem, 7vw, 2rem);

  text-shadow: 2px 2px 4px var(--color-dark-800);
  color: var(--color-light-100);
  -webkit-text-fill-color: var(--color-light-100);
}

.contact__description {
  max-width: 600px;
  margin: 0 auto;

  font-size: clamp(0.9rem, 4vw, 1rem);
}

.contact__methods {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  font-family: "Poppins", Arial, sans-serif;
}

.contact__method {
  min-width: 200px;

  text-align: center;
}

.contact__method-title {
  margin: 0;

  font-size: clamp(0.92rem, 4vw, 1.125rem);
  color: var(--color-dark-800);
}

.contact__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;

  padding: 0.5rem 0.75rem;
  background-color: var(--color-light-100);

  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);

  font-weight: 800;
  font-size: clamp(0.9rem, 4vw, 1rem);

  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .contact__link {
    gap: 0.5rem;
    padding: 1.25rem 1.5rem;
  }
}

.contact__link:hover {
  text-decoration: none;

  box-shadow: var(--shadow-xl);

  animation: float 2s ease-in-out infinite;
}

.contact__link:hover span {
  text-decoration: underline double;
  text-underline-offset: 4px;
}

.contact__form {
  margin: 0 auto;
}

.contact__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8rem;

  padding: 0.25rem 1.5rem 1.5rem;

  border: 2px solid var(--color-light-100);
  border-radius: var(--radius-lg);

  animation: pulse-shadow-double 2s ease infinite;
}

@media (min-width: 768px) {
  .contact__fieldset {
    padding: 0.5rem 2rem 2rem;
  }
}

.contact__legend {
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px var(--color-dark-800);
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__item {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

.form__area {
  height: 100%;
}

.form__label {
  text-align: start;
  font-weight: 700;
  text-shadow: 1px 1px 1px var(--color-dark-800);
}

.form__input {
  padding: 0.3rem;

  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-xl);
}

.form__actions {
  flex: 1 1 auto;
  align-self: center;

  padding: 0 clamp(0rem, 10rem - 23vw, 2.5rem);
}

@media (min-width: 768px) {
  .form__actions {
    padding: 1rem 0 0;
  }
}

.form__actions .button {
  margin: 0;
  max-height: 44px;

  border: none;
}
